@page "/workers"

@using DataLibrary
@using MSOI.Models
@using MSOI.Services
@inject WorkerService _workerService


<h3>Workers</h3>

@* <button class="btn btn-primary" @onclick="InsertData">Add</button> *@
@* <button class="btn btn-warning" @onclick="UpdateData">Update</button>
<button class="btn btn-danger" @onclick="DeleteData">Delete</button> *@

@if (workers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var worker in workers)
    {
        <p>@worker.Worker_name @worker.Worker_surname @worker.Pesel @worker.Employment_date </p>
    }
}

@code {

    List<WorkerModel> workers;

    protected override async Task OnInitializedAsync()
    {
        workers = await _workerService.GetWorkers();
    }

    

}

